body{
    background-image: url("../map.874bf4342d34.png");
}
.main
{
    color: #673147;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.map
{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.map iframe
{
    height: 500px;
    width: 120%;
    border-radius: 10px;
    border-color: teal;
    border-style: double;
    animation-name: riz;
    animation-duration: 5s;
    animation-iteration-count: 5;
}

@keyframes riz {
    from {border-color: teal;}
    to {border-color: 	#AA336A;}
  }
