<html>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src = "{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <body>
    <div class="main">
        <div class="map">
            <iframe id = "map-field"
                src="https://www.google.com/maps/embed/v1/directions?key={{api_key}}&origin={{origin}}&destination={{destination}}&avoid=tolls|highways" allowfullscreen>
            </iframe>
        </div>
        <div class="weather">
            <div class="first">
                <p class="text">fastest one</p>
                <p class="temp-first"></p>
                <p class="desc-first"></p>
                <img src="" id = "weather-first">

            </div>
            <div class="second">
                <p class="second">second fastest</p>
                <p class="temp-second"></p>
                <p class="desc-second"></p>
                <img src="" id = "weather-second">
            </div>
        </div>
    </div>
    </body>
    </html>