<html>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src = "{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <body>
        <div class="main">
            <div class="form">
                <!-- <p class ="title" align = "center">TRAFFICMATE</p> -->
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" ><img src="https://img.icons8.com/bubbles/50/4a90e2/worldwide-location.png" height="35px" width="35px"/></span>
                    </div>
                    <input id = "pick" type="text" class="form-control" placeholder="Enter Pickup Location" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                    <button id = "getlocation" class = "btn btn-primary btn-sm" onclick="getLocation()">Get Current Location</button>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><img src="https://img.icons8.com/bubbles/50/4a90e2/worldwide-location.png" height="35px" width="35px"/></span>
                    </div>
                    <input id = "drop"type="text" class="form-control" placeholder="Enter Drop Location" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                <button onclick="submit()" class="btn btn-dark">Submit</button>
                </div>
                <div class="map">
                  <iframe id = "map-field"
                      src="https://www.google.com/maps/embed/v1/directions?key={{api_key}}&origin={{origin}}&destination={{destination}}&avoid=tolls|highways" allowfullscreen>
                  </iframe>
              </div>
        </div>     
            
    </body>


</html>